*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: Roboto;
  line-height: 1;
  font-style: normal;
  text-decoration: none;
}
*:focus{
  outline: none;
  border: none;
}
.page-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

header{
  width: 100%;
  min-height: 124px;
  display: flex;
  justify-content: space-between ;
  align-items: center;
}
.header-box{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  max-width: 100px;
}
.logo img{
  width: 100%;
}
.header-controls{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.btn{
  width: 98;
  height: 40;
  opacity: 1;
  gap: 4px;
  border-radius: 2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-primary{
  background: #1890FF;
  color:#fff;
  border: 1px solid #1890FF;
}
.btn-outline{
  width: 116;
  height: 40;
  opacity: 1;
  gap: 4px;
  border-radius: 2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
  background-color: #fff;
  border: 1px solid grey;
  color:grey;
}

.main{
  flex: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.banner{
  margin-bottom: 50px;
}
.banner-item{
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 68px;
  border-radius: 10px;
  background-position: right;
}

.banner-item--title {
  font-weight: 700;
  font-size: 39px;
  color:#302C34;
  max-width: 50%;
  margin-bottom: 16px;
}

.banner-item--subtitle {
  font-weight: 400;
  font-size: 24px;
  color:#302C34;
  max-width: 50%;
}

.products {
}
.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  flex-wrap: wrap;
  gap: 24px;
}
.products-header--title {
  font-size: 36px;
  font-weight: 700;
  color:#000;
}
.products-header--search {
  border-radius: 2px;
  border:solid 1px #d9d9d9;
  background-color: #fff;
  min-width: 306px;
  height: 34px;
  padding: 5px 12px;
}
.products-header--search::placeholder{
  font-size: 16px;
  line-height: 24px;
  color:#bfbfbf;
}
.products-wrapper {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.products-card {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 4px 12px 0px #0000000D;
  border-radius: 7px;
  overflow: hidden;
  background-color: #fff;
}
.products-card__image {
  width: 100%;
}
.products-card__image img {
  width: 100%;
}
.products-card__description {
  padding: 20px 24px 34px;
}
.products-card__description--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-card__description-info{
  display: flex;
  align-items: center;
  gap: 25px;
}
.products-card__description--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
.products-card__description--badge {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 1px 8px;
  background-color: #000;
  color:#fff;
  border-radius: 2px;
}
.products-card__description-info--rating {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  color:#FFC107;
}
.products-card__description-info--price {
}
.products-card__description-info--group {
}


.products-card__description--name {
  font-size: 24px;
  margin-bottom: 10px;
}
.products-card__description--text {
  font-size: 18px;
  color:grey; 
  margin-bottom: 24px;
}
.products-card__description-controls {
  display: flex;
  align-items: center;
  gap: 29px;
  flex-wrap: wrap;
}
.products-card__description-controls--price {
  font-size: 20px;
}
.cart-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.cart-modal__overlay.open{
  display: flex;
}
.cart-modal {
  max-width: 780px;
  width: 100%;
  padding: 40px 45px;
  border-radius: 5px;
  background-color: #fff;
}
.cart-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.cart-modal__header--title {
  font-size: 36px;
  font-weight: 700;
}
.cart-modal__header--close {
  cursor: pointer;
}
.cart-modal__body {
  margin-bottom: 50px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}
.cart-item:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #000;
}
.cart-item__title {
  font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;

}
.cart-item__controls {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-item__controls--price {
  margin-right: 50px;
  font-weight: 700;
}
.cart-item__controls--count {
}
.cart-modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cart-modal__footer--price {
  background-color: #000;
  color:#fff;
  padding: 6px 10px;
  border-radius: 2px;
}
.cart-modal__footer--controls {
  display: flex;
  gap: 16px;
}
.footer{
  min-height: 156px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}
.footer-logo {
}
.footer-nav {
  flex-grow: 1;
}
.footer-nav ul{
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.footer-nav ul li{
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;

}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
@media (max-width:991px) {
  .banner-item--title,
  .banner-item--subtitle{
    max-width: 100%;
  }
  .products-card{
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width:575px){
  .products-card{
    width: 100%;
  }
}